{% extends 'base.html' %} 
{% load static %}
{% block title %} CICT Job Results {% endblock %} 
{% block head %}
<style type="text/css">
  .card {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

</style>
{% endblock head %}
{% block content %} 

    <div class="row">
      <div class="col-12">
        <form action="" method="GET">
          <div class="input-group">
            <input type="search" name="search" value="{% if request.GET.search %}{{ request.GET.search }}{% endif %}" class="form-control rounded" placeholder="Search for Job (Title, Description, Company, Keywords)" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary">search</button>
          </div>
        </form>
      </div>
      <div class="col-12 mt-5">
        <h3 class="text-center mb-4">
          Latest Jobs
        </h3>

        {% if messages %}
          {% for message in messages %}
            <div class="mt-3 alert alert-{{ message.tags }} mb-2">
            <span class="text-{{ message.tags }}">{{ message }}</span>
            </div>
          {% endfor %}
        {% endif %}
    

        <div class="row">
          {% for job_provider in job_providers %}
            <div class="col-md-4 mb-2">
              <div class="card" >
                {% if job_provider.job_providers.first.company_logo %}
                <img src="{{ job_provider.job_providers.first.company_logo.url }}" class="card-img-top ms-auto me-auto mt-3" alt="Company Logo" style="width: 50%">
                {% else %}
                <img src="{% static 'images/CICT.png' %}" class="card-img-top ms-auto me-auto mt-3" alt="Company Logo" style="width: 50%">
                {% endif %}
                <div style="height: auto">
                  <div class="card-body" style="height: auto">
                    <h2 class="card-title mb-0"><b>{{ job_provider.name }}</b></h2>
                    {% if job_provider.status == "activated" %}
                    <span class="badge text-bg-success mb-3" style="max-width: 90px">AVAILABLE</span>
                    {% else %}
                    <span class="badge text-bg-danger mb-3" style="max-width: 120px">UNAVAILABLE</span>
                    {% endif %}
                    <p class="card-text">
                      {{ job_provider.description|truncatechars:100 }}
                    </p>
                    <small>
                      <b>Company:</b> {{ job_provider.job_providers.first.company_name }}<br>
                      <b>Date Posted:</b> {{ job_provider.job_providers.first.created_at }}<br>
                      <b>Address:</b> {{ job_provider.job_providers.first.company_address }}
                    </small>
                    <br>
                    {% if job_provider.status == "activated" %}
                    <a href="{% url 'apply-to-job' job_provider.pk %}" class="btn btn-outline-primary w-100 mt-5">Apply</a>
                    {% else %}
                    <a href="#" class="btn btn-outline-primary w-100 mt-5 disabled">Apply</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>

{% endblock %}


